
<style>
.ground
{
 background: -webkit-linear-gradient(white 65%, #00BAB9  35%);
 background: -o-linear-gradient(white 65%, #00BAB9  35%);
 background: linear-gradient(white 65%, #00BAB9  35%); 
   repeat scroll 0% 0% ;
   background-color: #F7DE3F ;
   background-size: auto auto;
   color: #212121 ;
   width: 100%;
   height: 166px;
   box-shadow: 3px 3px 2px #888888 ;
}
   .image
   {
       width: 100%;
       height: 100px;;
   }
 .fondo
    {background-color: #F1F2F2;}
</style>


<!--***** segunda parte del contenido principal href="#/app/Descuento" *****-->
<ion-view  view-title="Supermercado">
   <ion-content class="fondo">
      
       <div>
           <div class="col">               
               <a href="#/app/Descuento" >
                   <div class="col col-50" ng-repeat="super in chats" style="display: inline-block; width: 100%;
height: auto;">
                       <div style="float:left;" class="ground col col-100">
                            <img class="image" ng-src="{{super.name}}" alt="image">
                            </a>
                            <div class="row">
                                <div class="col col-75" style="margin-top:-10px;">
                                   <spam style="color:white; font-size:15px;"> {{super.promo}} </spam>
                                   <spam style="font-size:15px; color:#78D9D8 ;"> ofertas</spam>
                                   <br>
                                   <spam style="color:white; font-size:15px;">Q{{super.promedio}} </spam>
                                   <spam style="font-size:15px; color:#78D9D8 ;"> promo</spam>
                                </div>
                                <div class="col col-25" style="margin-top:10px; color:white;">
                                    <div class="home" id="{{super.lastText}}" onclick="hola(id)">B</div>                 
                                </div>
                            </div>                             
                       </div> 
                  </div>               
           </div>
       </div>    
   </ion-content>
</ion-view>
<!--   <ion-view view-title="Supermercado">
      <ion-content >            
            <ion-item  ng-repeat="super in chats" style = "display:inline-block; margin-left: 15px; margin-top:18px; height: 185px;
     width: 185px;">
                <div ><img style = " height: 110px; width: 100%;" href="#/app/Descuento" class = "img-responsive" ng-src="{{super.name}}"></div>
                <div >                <div style="background-color:#00BAB9; color:white;  height:70px; margin-top:20px; width: 190px; margin-left:-20px;">
                    <p style="margin-left:15px;color:white; font-size:12px;">ofertas {{super.promo}}</p>
                    <p style="margin-left:15px; color:white;font-size:12px;">promedio Q{{super.promedio}} </p>
                    <p class = "home" id="{{super.lastText}}" onclick="hola()" style="margin-left:150px;margin-top:-20px;font-size:22px;" >B</p>
                </div>         
 

                </div>
          </ion-item>   
     
      </ion-content>
</ion-view>
-->