<ion-view view-title="Canjear">
  <ion-content>
    <ion-list >
      <ion-item    type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
           <img ng-src="{{chats[0].producto}}">
          <div class="CajaCanjear">
        <h2>{{chats[0].name}}</h2>
            <img class="CodigoBarras" ng-src="{{chats[0].face}}">
                  <h1 class="TituloCanjear">{{chats[0].oferta}}</h1>
                   <h3 class="TituloCanjear">{{chats[0].terminos}}</h3>
                    <div class="compartir2">
                        <button class="button button-icon button-clear ion-star" ng-click="login()" >
                        </ion-nav-buttons>
                         <button class="button button-icon button-clear ion-android-share-alt" ng-click="login()" >
                        </ion-nav-buttons>
                    </div>
              </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
