<style>
.ground
{
 background: -webkit-linear-gradient(white 65%, #00BAB9  35%);
 background: -o-linear-gradient(white 65%, #00BAB9  35%);
 background: linear-gradient(white 65%, #00BAB9  35%); 
   repeat scroll 0% 0% ;
   background-color: #F7DE3F ;
   background-size: auto auto;
   color: #212121 ;
   width: 100%;
   height: 166px;
   box-shadow: 3px 3px 2px #888888 ;
}
   .image
   {
       width: 100%;
       height: 100px;;
   }
 
</style>


<!--***** segunda parte del contenido principal href="#/app/Descuento" *****-->
<ion-view view-title="Electronicos">
   <ion-content>
      
       <div>
           <div class="col">               
               <a href="#/app/Descuento">
                   <div class="col col-50" ng-repeat="super in chats" style="display: inline-block; width: 100%;
height: auto;">
                       <div style="float:left;" class="ground col col-100">
                            <img class="image" ng-src="{{super.name}}" alt="image">
                            </a>
                            <div class="row">
                                <div class="col col-75" style="margin-top:-10px;">
                                   <spam style="color:white; font-size:15px;"> {{super.promo}} </spam>
                                   <spam style="font-size:15px; color:#78D9D8 ;"> ofertas</spam>
                                   <br>
                                   <spam style="color:white; font-size:15px;">Q{{super.promedio}} </spam>
                                   <spam style="font-size:15px; color:#78D9D8 ;"> promo</spam>
                                </div>
                                <div class="col col-25" style="margin-top:10px; color:white;">
                                    <div class="home" id="{{super.lastText}}" onclick="hola(id)">B</div>                 
                                </div>
                            </div>                             
                       </div> 
                  </div>               
           </div>
       </div>    
   </ion-content>
</ion-view>