<!--**********  LINK FACEBOOK PAGE  **********-->
<a href="#/login" nav-transition="none">
    <!--**********  CONTENT FRENZY SPLASH SCREEN  **********-->
    <ion-content class="center pageFrenzyColor" >
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col col-10"></div>
                        <!--**********  LOGO FRENZY  **********-->
                        <p class="pageFrenzyLogoImage">
                            <img class="imagen" src="img/frenzy.png" alt="frenzy">
                        </p>
                    <div class="col col-10"></div>  
                </div>
            </div>
        </div>
    </ion-content>
    <!--*******  BUTTON AUTOMATIC CLICK  ************-->     
    <button  id="intervaloFrenzy"></button>
    <!--*************  FOOTER WHIT LEGEND  *****************-->    
    <ion-tabs  class="pageFrenzySubtitle">
        <ion-content class="centrar pageFrenzyBarSubtitle" style="background-color:#00BAB9; height:50px;">
            <!--*****  LEGEND  *****-->
            <p class="center pageFrenzyTextLegend">
                Diseñado en Guatemala por Cognits!
            </p>
        </ion-content>
    </ion-tabs>
</a>

