<style>
    .bar.bar-positive    {
        box-shadow: 0 0 0px white;
}

</style>
 <ion-view>
  <!--************  HEADER AND BACK BUTTON  ***************-->
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title home">
            <!--**********  TITLE FRENZY  ***********-->
            <p class="mainFrenzyTitle">
                Z    
            </p>
        </h1>
    </ion-header-bar>
    <ion-content>  
    <!--*****************************************************-->
    <!--**********  LINK AND ICON SHARE **********-->
    <br><br><br><br><br><br>
    <a class="home popUpIconShare" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" >
        O
    </a>
    <!--*******************************************-->
    <!--**********  POP UP CONTENT  ***************-->
    <div id="light" class="white_content">
        <!--**********  FUNCTION CLOSE  **********-->
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'" style="text-decoration:none;">
            <p class="home popUpColseIcon">T</p>
        </a>
        <!--**********  POP UP CONTENT  **********-->
        <div>
            <p class="popUpTitle">Compartir cupón</p>    
            <hr style="background-color:#FFFFFF; width:100%; height:1px; margin-bottom:5px;">
        </div>
        <!--**********  HR LINE  **********-->
        <!--**********  ICON AND TEXT FACEBOOK  **********-->
        <div>
            <img class="popUpIconFacebook" src="img/facebookicon.png" alt="facebook">
            <p class="popUpDescriptionFacebook">Amigos de facebook</p>
        </div>
        <!--**********  ICON AND TEXT MSJ  **********-->
        <div>
            <p class="home popUpIconsMail">V</p>
            <p class="popUpDescriptionMail">Enviar mensaje de texto</p>
        </div>
    </div>
    <!--**********  FUNCTION TO OPACITY BACKGROUND  **********-->
    <div id="fade" class="black_overlay"></div>
    <!--******************************************************-->
    <!--*****************************************************-->    
    </ion-content>
</ion-view>