<ion-view>
    <!--**********  FACEBOOK PAGE LOGIN  **********-->
    <ion-content ng-app="ionicApp" class="center pageLoginFacebookColor">
        <div class="row">
            <div class="col">
                <!--*****  FUNCTION TO FACEBOOK LOGIN  ng-click="login()"** href="#/app/playlists"****-->
                <!--*****  BUTTON FACEBOOK  *****-->
                <a ng-click="login()">
                    <button class="button button-stable pageLoginFacebookButtonStyle">
                        <img class="pageLoginFacebookImage" src="img/facebook.png" alt="facebook">   
                    </button>                       
                </a>
            </div>
        </div>
    </ion-content>    
</ion-view>