<style>
    .barraMenu{ background-color: #00BAB9; color:white;}
    
</style>
<ion-side-menus  enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <!--***** barra de contenido principal *****-->
     <ion-nav-bar  class="barraMenu" class="bar-stable">
      <!--***** boton retorno menu principal *****-->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!--***** boton simbolo persona menu items *****-->
     
    </ion-nav-bar>
    <!--***** visualizacion contenido menu principal *****-->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
<!--**********************************************************************-->
<!--**********************************************************************-->
<!--***** style colors buttons  *****-->
<style>
    .custom-icon-home{color:#00BAB9;}
    .custom-icon-heart{color:red}
    .custom-icon-star{color:#FFD922 }
    .custom-icon-gear{color:black}
</style>
<!--*********************************-->
<ion-footer-bar align-title="left" class="bar-stable">
  <div class="buttons">
    <ion-tabs>
        <ion-tab icon-on="ion-home custom-icon-home" icon-off="ion-home"></ion-tab>
        <ion-tab icon-on="ion-heart custom-icon-heart" icon-off="ion-heart"></ion-tab>
        <ion-tab icon-on="ion-star custom-icon-star" icon-off="ion-star"></ion-tab>
        <ion-tab icon-on="ion-gear-b custom-icon-gear" icon-off="ion-gear-b"></ion-tab>
    </ion-tabs>
  </div>
  
</ion-footer-bar>
<!--**********************************************************************-->
<!--**********************************************************************-->   
</ion-side-menus>
