<style>
    .barraMenu{ background-color: #00BAB9; color:white;}
    .row{font-size:30px;}
</style>
<ion-side-menus  enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <!--***** barra de contenido principal *****-->
     <ion-nav-bar  class="barraMenu" class="bar-stable">
      <!--***** boton retorno menu principal *****-->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!--***** boton simbolo persona menu items *****-->
     
    </ion-nav-bar>
    <!--***** visualizacion contenido menu principal *****-->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
<!--**********************************************************************-->
<!--**********************************************************************-->
<!--***** style colors buttons  *****-->

<!--*********************************-->
<ion-footer-bar align-title="left" class="bar-stable">
 <div class="row home">
     <div class="col col-10"></div>
     <div id="home" onclick="functionHome()" class="col col-25">A</div>
     <div id="heart" onclick="functionHeart()" class="col col-25" >B</div>
     <div id="star" onclick="functionStar()" class="col col-25" >C</div>
     <div id="tool" onclick="functionTool()" class="col col-20" >D</div>
    
 </div>
  
</ion-footer-bar>
<!--**********************************************************************-->

<!--**********************************************************************-->   
</ion-side-menus>
