<style>
    .barraMenu{ 
        background-color: #00BAB9; 
        color:white; 
        border-bottom-color:red;
        border-style:none;
        box-shadow: 0 0 5px #888888;
    }
    .row{font-size:30px;}
</style>
<ion-side-menus  enable-menu-with-back-views="false">
  <ion-side-menu-content >
    <!--***** barra de contenido principal *****-->
     <ion-nav-bar  class="barraMenu" class="bar-stable">
      <!--***** boton retorno menu principal *****-->
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!--***** boton simbolo persona menu items *****-->
     
    </ion-nav-bar>
    <!--***** visualizacion contenido menu principal *****-->
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
<!--**********************************************************************-->
<!--**********************************************************************-->

<ion-footer-bar align-title="left" class="bar-stable" style="background-color:#E6E7E8;border-style:none;">
    <div class="row home">
        <div class="col col-10"></div>
        <!--************  ICONO FOOTER HOME  ******************-->
        <div class="col col-25">
            <a href="#/app/playlists" style="color:#00BAB9; text-decoration:none;">
                <div id="home" onclick="functionHome()">A</div>
            </a>
        </div>
        <!--************  ICONO FOOTER HEART  ******************-->
        <div class="col col-25">
            <a href="" style="color:#A7A9AC; text-decoration:none;">
                <div id="heart" onclick="functionHeart()">B</div>
            </a>
        </div>
        <!--************  ICONO FOOTER STAR  ******************-->
        <div class="col col-25">
            <a href="" style="color:#A7A9AC; text-decoration:none;">
                <div id="star" onclick="functionStar()">C</div>
            </a>
        </div>
        <!--************  ICONO FOOTER TOOL  ******************-->
        <div class="col col-25">
            <a href="" style="color:#A7A9AC; text-decoration:none;">
                <div id="tool" onclick="functionTool()">D</div>
            </a>
        </div>
        <!--*************************************************-->
    </div>
  
</ion-footer-bar>
<!--**********************************************************************-->

<!--**********************************************************************-->   
</ion-side-menus>
