<ion-view view-title="Frenzy">
 <ion-nav-title>
     <p class="center home" style="color:white; font-size:70px; margin-top:8px; text-aling:center;">Z</p>
   </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in categorys" type="item-text-wrap"  href="#/app/playlists/{{playlist.id}}">
         <div class = "list">
           <div class = "row">
            <div class="center border_icon col col-20 {{chat.color}}" style="margin-left: -60px;">
                <div class="home center" style="font-size:40px; color:white; margin-top:18px; ">{{chat.face}}</div>

            </div>
            <div class="col" style = "margin-left: 20px;">
              <p>{{chat.name}}</p>
            <div>
                    <spam style="font-size:10px;">{{chat.lastText}} Promociones</spam>
                </div>
            </div>   
           </div>
         </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>




