<!--***** segunda parte del contenido principal *****-->
     <ion-view view-title="Supermercado">
      <ion-content >            
            <ion-item class="listas" ng-repeat="super in playlists" href="#/app/Descuento">
           
            <div class="color" >
                {{super.title}}
                ..
                <br><br>
                <div style="background-color:#00BAB9; color:white;  height:50px;">
                    <p style="margin-left:15px;color:white; font-size:12px;">ofertas</p>
                    <p style="margin-left:15px; color:white;font-size:12px;">promociones</p>
                </div>
            </div>
            
          </ion-item>   
      </ion-content>
</ion-view>
