<style>
    .bar.bar-positive    {
    box-shadow: 0 0 0px white;
}
</style>
 <ion-view>
  <!--************  HEADER  ***************-->
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title home">
            <!--**********  TITLE FRENZY  ***********-->
            <p class="mainFrenzyTitle">
                Z    
            </p>
        </h1>
    </ion-header-bar>
    <!--**********  SALVED PAGE  **********-->
    <ion-content>
       <!--**********  MAIN BOXES  **********-->  
        <div class="row savedPageBoxStyle">
            <!--**********  IMAGE ESTABLISHMENT  **********-->  
            <div class="col col-20">
                <img class="savedPageImage" alt="pizza" src="img/dominosPizza.jpeg">
            </div>
            <div class="col col-80">
                <!--**********  TITLE OFFERT  **********-->  
                <p class="savedPageTitleDescription overFlowText">
                    2X1 Pizzas Grandes de 1 ingrediente
                </p>
                <!--**********  PRICE OFFERT  **********-->  
                <p class="savedPageOffert">
                    oferta - Q.99.00
                </p>
                <!--**********  DESCRIPTION OFFERT  **********-->  
                <p class="savedPageDescription overFlowText">
                    15% de descuento en pollos piolindo de 2 lb o menos, unicamente en dia jueves hasta junio 2015.
                </p>
            </div>
            <!--**********  PIN ICON  **********-->  
            <div class="col col-10 home">
                <p class="savedPageIcon" id="pinSaved" onclick="changeColorPinSaved()" style="color:silver">
                    W
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>