<!--************************** MAIN FOOTER  ********************************-->

<!--***** style colors buttons  *****-->
<style>
    .custom-icon-home{color:#00BAB9;}
    .custom-icon-heart{color:red}
    .custom-icon-star{color:#FFD922 }
    .custom-icon-gear{color:black}
</style>
<!--*********************************-->

<ion-tabs class="tabs-icon-top tabs-stable" >
<!--********** home Tab  **********-->
    <ion-tab title="Home" icon-on="ion-home custom-icon-home" icon-off="ion-home" href="#/tab/casa">
        <ion-nav-view name="casa"></ion-nav-view>
    </ion-tab>
<!--********** like Tab **********-->    
    <ion-tab title="like" icon-on="ion-heart custom-icon-heart" icon-off="ion-heart" href="#/tab/like">
        <ion-nav-view name="like"></ion-nav-view>
    </ion-tab>
<!--********** star Tab **********-->
    <ion-tab title="favoritos" icon-on="ion-star custom-icon-star" icon-off="ion-star" href="#/tab/favoritos">
        <ion-nav-view name="favoritos"></ion-nav-view>
    </ion-tab>
<!--********** Setting **********-->
    <ion-tab title="configuracion" icon-on="ion-gear-b custom-icon-gear" icon-off="ion-gear-b" href="#/tab/configuracion">
        <ion-nav-view name="configuracion"></ion-nav-view>
    </ion-tab>
</ion-tabs>    
