<style>
.bar.bar-positive    {
    box-shadow: 0 0 0px white;
}
</style>
<!--************  HEADER  ***************-->
<ion-view>
    <ion-header-bar align-title="center" class="bar-positive" style="height:25px; position:relative;">
        <i class="icon ion-chevron-left backButtomStyle" onclick="goBack()"  nav-transition="none"></i>
        <h1 class="title"  style="font-weight: bolder;">Supermercados</h1>
    </ion-header-bar>
    <!--*****  SECOND TAB HEADER  *****-->
        <div class="row pageFavoritesSecondRow" style="margin-top:0px;position:absolute;border-color:red; z-index:1;">
            <!--**********  OFFERTS  **********-->
            <div class="col col-50">
                <a class="pageOffertsOffertsTitle"  >
                    <!--*****  TITLE AND FUNCITION OFFERTS  *****-->
                    <p class="pageFavoritesOurFavoritesTitle" id="offertsFunction" onclick="offerts()">
                        Ofertas (21)
                    </p>
                    <!--**********  LINE DECORATION  **********-->
                    <hr class="pageFavoritesLineDecoration" id="lineOffertsFunction">
                </a>
            </div>
        </div>                                  
        <!--**********  ICON POPOVER  *********-->
        <div class="row" style="margin-top:30px; position:absolute;  z-index:1;">
            <div class="col col-66"></div>
            <div class="col col-33">
                 <button class="popoverIcon home" ng-click="popover.show($event)"  ng-controller="PopoverCtrl">
                    <p class="pageOffertsPopoverSimbol" style="vertical-aling:middle;">
                        N
                    </p>
                </button>
            </div>
        </div>
         <div class="row" style="margin-top:60px;position:absolute;border-color:red; z-index:1; height:45px;">
            <!--**********  OFFERTS  **********-->
            <div class="col col-50">
                
            </div>
        </div>       
	
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!--**********  PAGE YOUR FAVORITES  **********-->
    <ion-content ng-controller="AppCtrl">   
       <div style="margin-bottom:70px;"></div>    
        <div >  
        <!--*ng-repeat="favorite in chats"***********  YOUR FAVORITES BODY  *******************-->
        <div class="row pageYourFavoritesGreyLine" style="margin-top:1px;" >
            <!--*****  FIRST ROW NAME OF YOUR FAVORITE STABLISHMENT  *****-->
            <!--*****  ICON HEART COLOR RED  *****-->
            <div class="col col-10 pageYourFavoritesIconHeart">
                <spam class="home">B</spam>    
            </div>
            <!--*****  NAME'S STABLISHMENT  *****-->
            <div class="col col-75">
                <spam class="open_sans overFlowText pageYourFavoritesStablishmentName">{{favorite.Category}}</spam>    
            </div>    
            <!--*****  ICON ARROW RIGHT  *****-->
            <div class="col col-10 pageYourFavoritesIconArrow">
                <spam class="home">
                </spam>    
            </div>
        </div>
        
        
        <!--*****  SECOND ROW DESCRIPTION OF YOUR FAVORITE STABLISHMENT  *****-->
        <div class="row row-border pageYourFavoritesWhiteBox">
            <div class="col col-80 pageYourFavoritesWhiteBoxTop">
                <!--**********  OFFERT  **********-->
                <p class="overFlowText pageYourFavoritesOffert">
                    2X1 En pizzas grandes de un ingrediente
                </p>
                <!--**********  PRICE OFFERT  **********-->
                <p class="pageYourFavoritesPriceOffert">
                    Oferta - Q.99.00
                </p>
                <!--**********  OFFERT DESCRIPTION  **********-->
                <p class="overFlowText pageYourFavoritesOffertDescription">
                    15% de descuento en pollos piolindo de dos lb...
                </p>
            </div>
            <!--**********  PIN ICON**********-->
            <div class="col col-20">
                <p class="home pageYourFavoritesIconPin" id="pinYourFavorites" onclick="changeColorPinYourFavorites()" style="color:silver">
                    W
                </p>
            </div>
        </div>  
        </div>
        
   </ion-content>
    <!--************************* FOOTHER  ******************************-->
 <ion-footer-bar align-title="left" class="bar-stable" style="background-color:#E6E7E8  ;border-style:none;">
  <div class="row home">
      <div class="col col-10"></div>
      <!--************  ICONO FOOTER HOME  ******************-->
      <div class="col col-25">
          <a href="#/app/playlists" style="color:#A7A9AC  ; text-decoration:none;" nav-transition="none">
              <div>A</div>
          </a>
      </div>
      <!--************  ICONO FOOTER HEART  ******************-->
      <div class="col col-25">
          <a href="#/app/favoritos" style="color:#FF5252  ; text-decoration:none;" nav-transition="none">
              <div>B</div>
          </a>
      </div>
      <!--************  ICONO FOOTER STAR  ******************-->
      <div class="col col-25">
          <a href="#/app/salvados" style="color:#A7A9AC  ; text-decoration:none;" nav-transition="none">
              <div>W</div>
          </a>
      </div>
      <!--************  ICONO FOOTER TOOL  ******************-->
      <div class="col col-25">
          <a href="#/app/herramientas" style="color:#A7A9AC  ; text-decoration:none;" nav-transition="none">
              <div>D</div>
          </a>
      </div>
      <!--*************************************************-->
  </div>
</ion-footer-bar>
</ion-view>