/*****************************************************************************/
/**************************  TIPOGRAFY **************************************/
@font-face{
font-family:opensans;
src: url(OpenSans-Regular.ttf);
}
/* */
@font-face{
font-family:letra;
src: url(Bariol_Bold.otf);
}
/* */
.open_sans{
font-family:letra;
}
/* */
@font-face{
font-family:Iconos;
src: url(BariolFrenzyIcons3.ttf);
/* */
}
.home{
font-family: Iconos;
}
/****************************************************************************/
/*****************************  GENERALY CSS STYLES  ************************/
/*****  BACK BUTTON STYLE  *****/
.iconButtonBackStyle    {
    font-size:25px;
    color:white;
    margin-left:10px;
}
/*****  CLASS TO CENTERED VERTICAL AND HORIZONTAL  *****/
.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
/*****  MAIN BAR COLOR STYLE  *****/
.bar.bar-positive{
    border-color: #00BAB9  ;
    background-color: #00BAB9  ;
    border-style:none;
    box-shadow: 0 0 5px #888888  ;
    background-image: linear-gradient(0deg, #00BAB9  , #00BAB9   50%, transparent 50%);
    color: #fff; 
}
  .bar.bar-positive .title{
    color: white;
    margin-top:3px;
}
  .bar.bar-positive.bar-footer{
    background-image: linear-gradient(180deg, #00BAB9  , #00BAB9   50%, transparent 50%); 
  }
/****************************************************************************/
/**************************  INTRODUCTION PAGE FRENZY  **********************/
.pageFrenzyColor{
    background-color:#00BAB9;
}
.pageFrenzyLogoImage{
    text-align: center;
}
.pageFrenzySubtitle{
    border-style:none;
}
.pageFrenzyTextLegend{
    color:white;
    font-size:10px;
}
/****************************************************************************/
/************************  PAGE LOGIN FACEBOOK  *****************************/
.pageLoginFacebookColor{
    background-color:#3F51B5;
}
.pageLoginFacebookButtonStyle{
    height:10px;
    width:200px;
    box-shadow: 0.1px 0.1px 0.1px 0.3px #848484;
}
.pageLoginFacebookImage{
    height:50px;
    width:120px;
    margin-top:-3px;
}
/****************************************************************************/
/**************************  PAGE START DESING  *****************************/
.pageStartFrenzyTitle{
    font-size:65px;
}
.icon_supermercado{
    background-color:#00BAB9 ; 
}
.icon_restaurante{
    background-color:#FF5252; 
}
.icon_moda{
    background-color:#FFD922; 
}
.icon_entretenimiento{
    background-color:#9C28B0;

}
.icon_electronico{
    background-color:#3F51B5; 
}
.icon_otro{
    background-color:#00DDC1; 
}
.imagen{
    height: 175px;
    width: 175px;
}
.iconoMenu{ 
    color:white;
    text-align: center;
    margin-top: 11px;
    font-size: 35px;
    padding-top: 19px;
}
.icon_supermercado{
    background-color:#00BAB9  ;
    height: 50px;
    width: 50px;
    margin-top: -15px;
    border-radius: 23px;
}
.icon_restaurante{
    background-color:#FF5252 ;
    height: 50px;
    width: 50px;
    margin-top: -15px;
    border-radius: 23px;
}
.icon_moda{
    background-color:#FFD922 ;
    height: 50px;
    width: 50px;
    margin-top: -15px;
    border-radius: 23px;
}
.icon_entretenimiento{
    background-color:#9C28B0 ;
    height: 50px;
    width: 50px;
    margin-top: -15px;
    border-radius: 23px;
}
.icon_electronico{
    background-color:#3F51B5 ;
    height: 50px;
    width: 50px;
    margin-top: -15px;
    border-radius: 23px;
}
.icon_otro{
    background-color:#00DDC1 ;
    height: 50px;
    width: 50px;
    margin-top: -15px;
    border-radius: 23px;
}

/****************************************************************************/
/*************************  DESIGN ESTABLISHMENTS  **************************/
.backgroundCategories    {
    background-color: #F1F2F2;
}
.categoriesBoxes    {
    background-size: auto auto;
    color: #212121 ;
    width: 100%;
    height: 185px;
    box-shadow: 3px 3px 2px #BDBDBD ;    
}
.categoriesBoxesSupermarket {
    background: linear-gradient(white 70%, #00BAB9 25%);
    background: -webkit-linear-gradient(white 65%, #00BAB9 35%);
    background: -o-linear-gradient(white 65%, #00BAB9 35%);
}

.categoriesBoxesRestaurant {
    background: linear-gradient(white 70%, #FF5252 25%);
    background: -webkit-linear-gradient(white 65%, #FF5252 35%);
    background: -o-linear-gradient(white 65%, #FF5252 35%);
}
.categoriesBoxesFashion {
    background: linear-gradient(white 70%, #FFD922 25%);
    background: -webkit-linear-gradient(white 65%, #FFD922 35%);
    background: -o-linear-gradient(white 65%, #FFD922 35%);
}
.categoriesBoxesEntertaiment {
    background: linear-gradient(white 70%, #9C28B0 25%);
    background: -webkit-linear-gradient(white 65%, #9C28B0 35%);
    background: -o-linear-gradient(white 65%, #9C28B0 35%);
}
.categoriesBoxesElectronic {
    background: linear-gradient(white 70%, #3F51B5 25%);
    background: -webkit-linear-gradient(white 65%, #3F51B5 35%);
    background: -o-linear-gradient(white 65%, #3F51B5 35%);
}
.imageCategoryBoxes   {
    width: 100%;
    height: 110px;;
}

/****************************************************************************/
/*********************  PAGE FAVORITES MEDIA QUERIES  ***********************/

/****************************************************************************/
/*****************************  FAVORITES PAGE  *****************************/
.imagePageFavoritesStyle{
    width:100%;
}

[class*='relacion'] {
}
.relacionFavoritesImage    {
    height: calc(16vh *  3.1);
}
[class*='relacion'] {
}
.relacionFavorites    {
    height: calc(7vh *  3.1);
}
.pageFavoritesTitleFrenzy{
    font-size:65px;
}
.pageFavoritesBodyColor{
    background-color:#F1F2F2;
}
.pageFavoritesOurFavorites{
    color:white;
    text-decoration:none;
}
.pageFavoritesOurFavoritesTitle{
    margin-left:20px;
    margin-top:23px;
    font-size:13px;
}
.pageFavoritesLineDecoration{
    margin-top:-5px;
    border-radius:3px;
    border-style:none;
    weigth:10px;
}
.pageFavoritesYourFavorites{
    color:white;
    text-decoration:none;
}
.pageFavoritesYourFavoritesTitle{
    margin-left:40px;
    margin-top:23px;
    color:#D8D8D8;
    font-size:13px;
}
.pageFavoritesLineDecorationYourFavorites{
    margin-top:-5px;
    color:#D8D8D8;
    background-color:#D8D8D8;
    border-style:none;
}
.boxResponsiveFavorites {
    height: calc(52vh *  1.33);
    width: 95%;
    margin-left:10px;
    margin-top:15px;
    box-shadow: 3px 3px 2px #BDBDBD;
    background-color:white;
}
.pageFavoritesSavingTigle{
    font-size:17px;
    color:white;
    margin-left:5px;
}
.pageFavoritesSavingPrice{
    font-size:15px;
    color:white;
    font-weight:bold;
    margin-top:-10px;
}
[class*='relacion'] {
}

.relacionImagePageFavorites{
    height: calc(38vh *  1.33);
}
.logoEstablishment  {
    height: 50px;
    width: 50px;
    margin-top:-65px;
    margin-left: 10px;
}
.pageFavoritesCountOfferts{
    font-size:14px;
    color:black;
    font-weight:bolder;
    color:white;
    margin-top:-5px;
}
.pageFavoritesCountOffertsTitle{
    font-size:13px;
    color:#BDBDBD; 
}

.pageFavoritesSecondRow    {
    background-color:#00BAB9;
    color:white;
    font-size: 12px;
    font-weight: bolder;
    margin-top:-25px;
}
.pageFavoritesDescriptionTitle{
    font-size:20px;
    margin-top:15px;
    margin-left:10px;
}
.pageFavoritesDescription{
    font-size:13px;
    margin-left:10px;
    color:#BDBDBD;
}
.pageFavoritesFeforePrice{
    font-size:13px;
    margin-left:5px;
    color:#A7A9AC;
}
.pageFavoritesIcons{
    color:#A7A9AC;
    margin-left:10px;
    margin-top:10px;
}
.pageFavoritesDivIcons{
    background-color:white;
    margin-top:10px;
}

/****************************************************************************/
/****************************  YOUR FAVORITES STYLE  ************************/

.yourFavoritesStyle {
   color:red;
}

/****************************************************************************/
/*************************  PAGE SALVADOS DESING  ***************************/
.savedPageBoxStyle  {
    border-style:solid;
    border-color:#E6E6E6;
    border-bottom-width: 1px;
    height: 100px;
}
.savedPageImage  {
    height: 50px;
    width: 55px;
    margin-left:5px;
    margin-top:13px;
    border-style: solid;
    border-color:#F1F2F2;
    border-width: 1px;
    border-radius:4px;
}
.savedPageIcon  {
    font-size:30px;
    color:#9C28B0;
    margin-top:50px;
    margin-left:-35px;
}
.savedPageTitleDescription  {
    font-size:17px;
    font-weight: bold;
    width: 95%;
    margin-top:12px;
}
.savedPageOffert    {
    font-size:14px;
    margin-top:-10px;
}
.savedPageDescription   {
    font-size:12px;
    color:#848484;
    margin-top:-10px;
    width: 85%;
}
/*****************************************************************************/
/***************  TEXT CSS OVER FLOW  ******************/

.overFlowText {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
/*over flow whit two lines */
.ellipsify {
    line-height:18px;
    height: 37px;       /* 3x line height */
    width: 100%;
    overflow: hidden;
    position: relative; /* so we're a positioning parent for the dot hiders */
    background:white;
}
.ellipsifyOffertsTwoLines {
    line-height:18px;
    height: 33px;       /* 3x line height */
    width: 100%;
    overflow: hidden;
    position: relative; /* so we're a positioning parent for the dot hiders */
    background:white;
}
.ellipsifyThreeLines {
    line-height:18px;
    height: 57px;       /* 3x line height */
    width: 100%;
    overflow: hidden;
    position: relative; /* so we're a positioning parent for the dot hiders */
    background:white;
}

/* Used to push down .dots. Can't use absolute positioning, since that
   would stop the floating. Can't use relative positioning, since that
   would cause floating in the wrong (namely: original) place. Can't 
   change height of #dots, since it would have the full width, and
   thus cause early wrapping on all lines. */
.pre-dots {
    float: right;
    height: 20px;  /* 2x line height (one less than visible lines) */
}
.pre-dots-threeLines {
    float: right;
    height: 30px;  /* 2x line height (one less than visible lines) */
}
.pre-dots-threeLines-offerts {
    float: right;
    height: 10px;  /* 2x line height (one less than visible lines) */
}

.dots {
    float: right; /* to make the text wrap around the dots */
    clear: right;
    color:#BDBDBD;
    margin-right: 20px;/* to push us below (not next to) .pre-dots */
}
.dots-threeLines {
    float: right; /* to make the text wrap around the dots */
    clear: right;
    color:#BDBDBD;
    margin-right: 5px;/* to push us below (not next to) .pre-dots */
}


/* hides the dots if the text has *exactly* 3 lines */
.hidedots1 {
    background: white;
    width: 150px;
    height: 18px;       /* line height */
    position: absolute; /* otherwise, because of the width, it'll be wrapped */
}

/* hides the dots if the text has *less than* 3 lines */
.hidedots2 {
    background: white; 
    width: 150px;
    height: 54px;       /* 3x line height, to ensure hiding even if empty */
    position: absolute; /* ensures we're above the dots */
}

/*************************************************/
/**************  RESPONSIVE DIVS  **************/
[class*='relacion'] {
}
.relacion4-3 {height: calc(28vh *  1.33); }

/***********************************************/
/***********  PAGE OFFERTS STYLE  **************/
[class*='relacion'] {
}
.boxResponsiveWithImage {
    height: calc(44vh *  1.33);
    width: 95%;
    margin-left:10px;
    border-style:solid;
    border-width: 1px;
    border-color: #E6E6E6;
    box-shadow: 3px 3px 2px #BDBDBD;
    margin-bottom:20px;
}

.imageOffertsAndCupons   {
    width: 100%;
}

[class*='relacion'] {
}
.relacion4-3 {height: calc(28vh *  1.33); }
.pageOffertsLinkOfferts {
    color:white;
    text-decoration:none;
}
[class*='relacion'] {
}
.boxResponsiveWithoutImage {
    height: calc(21vh *  1.33);
    width: 95%;
    margin-left:10px;
    margin-top:15px;
    border-style:solid;
    border-width: 1px;
    border-color: #E6E6E6;
    box-shadow: 3px 3px 2px #BDBDBD;
    
}
.imageOffertsAndCupons   {
    width: 100%;
}

[class*='relacion'] {
}
.relacion4-3    {
    height: calc(28vh *  1.33);
}
.labelOfferts   {
    height: 75px;
    width: 100px;
    position:absolute;
}
.pageOffertsTitleOferts {
    margin-left:22px;
    margin-top:23px;
}
.pageOffertsHrLine  {
    margin-top:-7px;
    border-radius:3px;
    border-color:#E6E6E6;
}
.pageOffertsPopoverSimbol   {
    font-size:35px;
    padding-top:4px;
}
.pageOffertsNameLabel   {
    font-size:15px;
    color:white;
    margin-left:5px;
    
}
.pageOffertsPriceLabel  {
    font-size:17px;
    color:white;
    font-weight:bold;
    margin-left: 6px;
    margin-top:-10px;
}
.pageOffertsTitleWithImage  {
    font-size:20px;
    margin-top:10px;
    margin-left:10px;
}
.pageOffertsDescription {
    font-size:14px;
    margin-left:10px;
    margin-top:-5px;
    color:#BDBDBD;
}
.pageOffertsHrBox   {
    border:none;
    background-color:#F2F2F2;
    height:1px;
    margin-top:-5px;
}
.pageOffertsActualPrice {
    font-size:15px;
    margin-left:5px;
}
.pageOffertsBeforePrice {
    font-size:13px;
    margin-left:10px;
    color:#A7A9AC;
}
.pageOffertsShareIcon  {
    color:#A7A9AC;
    margin-left:-5px;
}
.pageOffertsLikeIcon  {
    color:#A7A9AC;
    margin-left:15px;
}
.pageOffertsTitleLabelWithoutImage   {
    font-size:12px;
    color:white;
    margin-left:9px;
}
.pageOffertsPriceLabelWithoutImage  {
    font-size:14px;
    color:white;
    font-weight:bold;
}
.pageOffertsTitleDescriptionWithoutImage {
    font-size:20px;
    margin-top:5px;
    margin-left:10px;
}
.pageOffertsDescriptionWithoutImage {
    font-size:13px;
    margin-left:10px;
  
    color:#BDBDBD;
}
.pageOffertsActualPriceWithoutImage {
    font-size:15px;
    margin-left:5px;
}
.pageOffertsBeforePriceWithoutImage {
    font-size:13px;
    margin-left:10px;
    color:#A7A9AC ;
}
.pageOffertsIconWithoutImage    {
    color:#A7A9AC;
}
.pageOffertsPopoverIconsDescrpition {
    font-size:30px;
}